/* ========== Global ========== */

:root {
    /* Custom */
        --primary-font: 'Lato', sans-serif;
        --secondary-font: 'Poppins', sans-serif;
        --bs-primary: #ffa726;  
        --bs-secondary: #112f48; 
        --gradiant-soft-blue:linear-gradient(180deg, rgba(137, 202, 255, 0.25) 0%, rgba(250, 250, 250, 0.25) 100%);
    }
        
    [data-bs-theme=light] {
        --bs-primary: #ffa726;  
        --bs-secondary: #112f48; 
        --bs-dark:  #112F48; 
        --bs-dark-rgb: 17, 47, 72;
        --bs-link-color: #112F48; 
        --bs-link-color-rgb: 17, 47, 72;
        --bs-link-hover-color:#ffa726;  
        --bs-link-hover-color-rgb: 215, 167, 38;
        --bs-nav-link-hover-color:215, 167, 38;
        --bs-nav-link-color: #112F48; 
        --bs-btn-bg: #ffa726; 
        --bs-heading-color:#112F48;
    }
    [data-bs-theme=dark] {
        --bs-primary: #ffa726;  
        --bs-secondary: #112F48; 
        --bs-secondary-rgb:17, 47, 72;
        --bs-body-bg: #112F48; 
        --bs-link-color: #ededed;
        --bs-link-color-rgb: 237, 237, 237;
        --bs-link-hover-color:#ffa726;
        --bs-nav-link-hover-color:#ffa726;
        --bs-nav-link-color:#ffffff;
        --bs-table-bg:  #112F48; 
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    background: var(--gradiant-soft-blue);
    color: #112f48; 
    line-height: 1.6;
}

/* ========== Header ========== */
header {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family:var(--secondary-font);
    font-weight:bold;
}

.nav-link {
    text-transform:uppercase;
    font-family:var(--secondary-font);
}



/* ========== Footer ========== */
footer {
    margin-top: 50px;
    color: #ffffff;
    background:var(--bs-secondary);
}
footer .copyright{
    color:#ededed;
}

/* ========== Main content ========== */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight:800;
    font-family:var(--secondary-font);
}
h2 {
    color: var(--bs-secondary);
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color:var(--bs-secondary);
    text-transform:uppercase;
    font-weight:700;
    font-family:var(--secondary-font);
}

.btn-primary:active,.btn-primary:focus {
 background-color: transparent!important;
    border-color: var(--bs-primary)!important;
    color:var(--bs-primary)!important;
}
.btn-primary:hover {
    background-color: transparent;
    border-color: var(--bs-primary);
    color:var(--bs-primary);
}
.btn-outline-secondary {
    background-color:transparent;
    border-color: var(--bs-secondary);
    color:var(--bs-secondary);
    font-family:var(--secondary-font);
    text-transform:uppercase;
    font-weight:700;
}

.btn-outline-secondary:hover {
    background-color:  var(--bs-secondary);
    border-color: var(--bs-secondary);
    color:#ffffff;
}
a{
    cursor:pointer;
}

[data-bs-theme=light] a{
    color: var(--bs-secondary);

}
[data-bs-theme=light] a:hover{
    color: var(--bs-primary);
}
[data-bs-theme=dark] a{
    color: #ffffff;
}
[data-bs-theme=dark] a:hover{
    color: var(--bs-primary);
}
/* ========== Tables ========== */
table{
    background-color:var(--bs-secondary);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    background-color: rgba(var(--bs-secondary-rgb),0.5);
}
/* ========== Cards ========== */
.card-img-overlay .card-title{
display:none;
}
.card-img-overlay:hover{
background-color:var(--bs-secondary);
}

.card-img-overlay:hover .card-text{
display:block;
}
/* ========== Forms ========== */

form input[type="text"],
form input[type="password"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border 0.3s;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="number"]:focus,
form textarea:focus {
    border-color: var(--bs-primary);
    outline: none;
}

form button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--bs-primary);
}

/* ========== Lists ========== */


/* ========== Links ========== */
a {
    text-decoration: none;
    transition: color 0.3s;
}

/* ========== Films ========== */

.date-box {
            background:#0c2c52;
            color:white;
            width:70px;
       border-top-left-radius:6px;
            border-bottom-left-radius:6px;
            text-align:center;
            padding:8px 0;
            font-weight:700;
            height:100%;
        }
        .schedule-card {
            background:#e9f0fa;
            border-top-right-radius:6px;
            border-bottom-right-radius:6px;
            padding:15px;
        }
        .hour-list {
            font-size:14px;
            color:#4d4d4d;
        }

/* ========== Responsive ========== */
@media (max-width: 768px) {


    table, th, td {
        font-size: 0.9em;
    }

    header h1 {
        font-size: 1.5em;
    }
}
